<div id="event">
    <script>
        function editEventOpenMenu(event, flatmates) {
            document.querySelector("#edit").style.display = "block";
            document.querySelector("#all").style.display = "none";
            document.querySelector(".blur").style.display = "block";
            
            document.querySelector("#edit input[name='id']").value = event.id;
            document.querySelector("#edit input[name='title']").value = event.title;
            document.querySelector("#edit input[name='desc']").value = event.description;
            document.querySelector("#edit input[name='start_time']").value = event.start;
            document.querySelector("#edit input[name='end_time']").value = event.end;

            let dropdown = document.querySelector("#edit .dropdown-content");
            dropdown.innerHTML = '';
            for (let i = 0; i < flatmates.length; i++) {
                let label = document.createElement("label");
                let input = document.createElement("input");
                
                input.setAttribute('name', 'flatmates');
                input.setAttribute('value', flatmates[i].User_ID);
                input.setAttribute('type', 'checkbox');

                if (event.people.includes(flatmates[i].Username)) {
                    input.setAttribute('checked', 'true');
                }

                let text = document.createTextNode(flatmates[i].Username);

                label.appendChild(input);
                label.appendChild(text);
                dropdown.appendChild(label);
            }
        };
    </script>

    <form method="POST" action="/calendar/<%= event.id %>/deleteevent">
        <button class="updatebutton" id="deletebutton" type="submit">🗑</button>
    </form>
    <button class="updatebutton" id="editbutton" onclick='editEventOpenMenu(<%- JSON.stringify(event) %>, <%- JSON.stringify(flatmates) %>)'>✎</button>
    <p><b>Name:</b> <%- event.title %></p>
    <p><b>Description:</b></p>
    <p><%- event.description %></p>
    <p><b>Start:</b> <%- event.start %></p>
    <p><b>End:</b> <%- event.end %></p>
    <p><b>People:</b> 
        <% if (event.people.length > 0) { %> 
        <%- event.people.join(', ') %>
        <% } else { %>
        --
        <% } %>
    </p>
</div>